.root {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 2rem;
    background: white;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}


.tl-box {
    padding: 1rem;
    border-radius: 1rem;
    background: black;
    position: relative;
}

.tl-box::before {
    z-index: -1;
    content: "";
    background: black;
    width: 0.5rem;
    height: 50vh;
    position: absolute;
    top: -50%;
    left: 50%;
}

.light {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
}
.light:not(:last-child) {
    margin-bottom: 0.75rem;
}
