.root {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    font-size: 2rem;
    background: white;
    padding: 1rem;
    border: 1px solid lightgray;
    border-radius: 0.5rem;
}

.tl-box {
    padding: 1rem;
    border-radius: 1rem;
    background: black;
    position: relative;
}
.tl-box::before {
    z-index: -1;
    content: "";
    background: black;
    width: 0.5rem;
    height: 50vh;
    position: absolute;
    top: -50%;
    left: 50%;
}

.tl-box, .tl-box::before {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.4);
}

.light {
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.light:not(:last-child) {
    margin-bottom: 0.75rem;
}
.active > .lightbulb {
    z-index: 1;
    background: rgba(255, 255, 255, 0.4);
    content: "";
    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 50%;
}
.light-glow {
    box-shadow: inset 0 0 4rem black;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.light-grid {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size: 4px 4px;
    background-image:
      linear-gradient(to right, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  }